<form action="" method="post">
    {% csrf_token %}
    {{ form }}
    <input type="submit" name="action" value="ADD">

    {% csrf_token %}
</form>
<form action="" method="post">
    {% csrf_token %}

{%for term in terms %}
<div>


    saerch key = {{term.search_term}}

    search_type = {{term.search_type}}

    active_status =  {% if term.active == True %}currently ON {% else %} currently OFF {% endif %}
    <button type="submit" name="switch" value="{{term.id}}"> {% if term.active == True %}Turn off {% else %} Turn on {% endif %}</button>


</div>
<br>
{%endfor %}
</form>