
<!DOCTYPE html>
{% load static %}

<html lang="en">


<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>AD LIBRARY</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.5.2/css/bootstrap.css">
    <link rel="stylesheet" href="https://cdn.datatables.net/1.12.1/css/dataTables.bootstrap4.min.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper/swiper-bundle.min.css" />
    <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.14.0/css/all.css" />
    <link rel="stylesheet" href="{%static 'style.css' %}">
    <link rel="stylesheet" href="{%static 'nav.css' %}">
    <!-- <link rel="stylesheet" href="css/style.css"> -->
    <link href="https://vjs.zencdn.net/7.20.2/video-js.css" rel="stylesheet" />
</head>

<body>

<form  method="post">
    {% csrf_token %}
    <div class="form-group my-3">
        <span class="my-1 d-block mr-3">Search mode:</span>
        <div class="p-1 border my-1">
            <label class="main pl-0 text-capitalize">Keywords
            </label>
            <div class="form-group mb-0 my-2" style="position: relative">
                <input type="text" class="form-control pl-4" name="keyword" placeholder="enter keywords">
                <i class="fa fa-search"
                    style="position: absolute; font-size: 12px; left: .5rem; top: 50%; transform: translateY(-50%);"></i>
            </div>
        </div>
        <div class="p-1 border my-1">
            <label class="main pl-0 text-capitalize">Advertisers
            </label>
            <div class="form-group mb-0 my-2" style="position: relative">
                <input type="text" class="form-control pl-4" name="advertiser" placeholder="enter advertisers">
                <i class="fa fa-search"
                    style="position: absolute; font-size: 12px; left: .5rem; top: 50%; transform: translateY(-50%);"></i>
            </div>
        </div>
        <div class="p-1 border my-1">
            <label class="main pl-0 text-capitalize">Domains
            </label>
            <div class="form-group mb-0 my-2" style="position: relative">
                <input type="text" class="form-control pl-4" name="domains" placeholder="enter domain">
                <i class="fa fa-search"
                    style="position: absolute; font-size: 12px; left: .5rem; top: 50%; transform: translateY(-50%);"></i>
            </div>
        </div>
    </div>
    <div class="form-group mt-0 mb-3">
        <button class="btn btn-primary form-control" style="font-size: 14px; text-transform: capitalize;"
            type="submit"><i style="font-size: 12px" class="fa fa-filter mr-1"></i> Apply filters</button>
    </div>
    <div class="form-group my-3">
        <span class="my-1 d-block mr-3">platform:</span>
        <label class="form-check-label">
            <input type="radio" class="form-check-input" name="platform" value="facebook" checked>
            facebook
        </label>
        <label class="form-check-label">
            <input type="radio" class="form-check-input" name="platform" value="instagram">
            instagram
        </label>
    </div>
    <div class="form-group my-3">
        <span class="my-1 d-block mr-3">advertisers:</span>
        <label class="main">dr.squatch <small>(122)</small>
            <input type="checkbox" checked="checked">
            <span class="geekmark"></span>
        </label>

        <label class="main">perfumer lovers <small>(52)</small>
            <input type="checkbox">
            <span class="geekmark"></span>
        </label>

        <label class="main">acacia <small>(26)</small>
            <input type="checkbox">
            <span class="geekmark"></span>
        </label>
    </div>
    <div class="form-group my-3">
        <span class="my-1 d-block mr-3">domains:</span>
        <label class="main">asdw.com <small>(122)</small>
            <input type="checkbox" checked="checked">
            <span class="geekmark"></span>
        </label>

        <label class="main">love.net <small>(52)</small>
            <input type="checkbox">
            <span class="geekmark"></span>
        </label>

        <label class="main">qweo.org <small>(26)</small>
            <input type="checkbox">
            <span class="geekmark"></span>
        </label>
    </div>
    <div class="form-group my-3">
        <span class="my-1 d-block mr-3">sort by:</span>
        <!-- for ads -->
        <label class="form-check-label">
            <input type="radio" class="form-check-input" name="sort" value="">
            newest
        </label>
        <label class="form-check-label">
            <input type="radio" class="form-check-input" name="sort" value="">
            running longest
        </label>
        <!-- for advertisers -->
        <label class="form-check-label">
            <input type="radio" class="form-check-input" name="sort" value="">
            likes count
        </label>
        <label class="form-check-label">
            <input type="radio" class="form-check-input" name="sort" value="">
            ads count
        </label>
    </div>
    <div class="form-group my-3">
        <span class="my-1 d-block mr-3">country:</span>
        <div class="form-group mb-0 my-2" style="position: relative">
            <input type="text" class="form-control pl-4" name="" placeholder="select country">
            <i class="fa fa-search"
                style="position: absolute; font-size: 12px; left: .5rem; top: 50%; transform: translateY(-50%);"></i>
        </div>
        <div class="px-2">
            <label class="main text-capitalize">US <small>(1,213,212)</small>
                <input type="checkbox">
                <span class="geekmark"></span>
            </label>
            <label class="main text-capitalize">Egypt <small>(112,311)</small>
                <input type="checkbox">
                <span class="geekmark"></span>
            </label>
            <label class="main text-capitalize">Canada <small>(112,311)</small>
                <input type="checkbox">
                <span class="geekmark"></span>
            </label>
            <label class="main text-capitalize">china <small>(112,311)</small>
                <input type="checkbox">
                <span class="geekmark"></span>
            </label>
        </div>
    </div>
    <div class="form-group my-3">
        <span class="my-1 d-block mr-3">CTA:</span>
        <select class="form-control" name="">
            <option value="learn more">learn more</option>
            <option value="buy now">buy now</option>
            <option value="get it now">get it now</option>
        </select>
    </div>
    <div class="form-group my-3">
        <span class="my-1 d-block mr-3">Days running:</span>
        <input type="number" min="1" value="1" name="" class="form-control">
        <!-- <input value="1" id="range" name="rangeInput" type="range" class="w-100" min="1" max="100" step="1"
            onchange="updateTextInput(this.value);" />
        <div id="rangeContent" class="rangeContent border shadow-sm">1</div> -->
    </div>
    <div class="form-group my-3">
        <div>
            <span>From</span>
            <input type="date" id="txtDate1" class="form-control">
        </div>
    </div>
    <div class="form-group mt-0 mb-3">
        <button class="btn btn-primary form-control" style="font-size: 14px; text-transform: capitalize;"
            type="submit"><i style="font-size: 12px" class="fa fa-filter mr-1"></i> Apply filters</button>
    </div>
</form>
</body>
</html>